<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add/Edit Location</title>
</head>
<body>
<h1 th:if="${location.id == null}">Add Location</h1>
<h1 th:if="${location.id != null}">Edit Location</h1>
<form th:action="@{/locations}" th:object="${location}" method="post">
  <div>
    <label>Name:</label>
    <input type="text" th:field="*{name}" />
  </div>
  <div>
    <label>Description:</label>
    <textarea th:field="*{description}"></textarea>
  </div>
  <div>
    <label>Address:</label>
    <input type="text" th:field="*{address}" />
  </div>
  <div>
    <input type="submit" value="Save" />
  </div>
</form>
<a href="/locations">Cancel</a>
</body>
</html>
